
html {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Trebuchet MS", Verdana, Arial, Tahoma, sans-serif;      
	font-size: 90%;
	margin: 0;
	padding: 10px 20px;	
}


blockquote {
	padding-left: 10px;
	border-left: 3px solid #ddd;
	margin-bottom: 1.5em;
}
div {
	line-height: 1.5em;
}
p {
	margin-bottom: 1.5em;
	line-height: 1.5em;
}
ul, ol {
	line-height: 1.5em;
	margin: 0 0 1.5em 0;
}
table {
	border-collapse: collapse;
	font-size: 1em;	
}
table td {
    background-color: #f7f7f7;
	border: 1px solid #ddd;
	padding: 5px;
}
table thead td {
	border-bottom: 2px solid #000 !important;
	font-weight: bold;
}
code, pre { font: 1.2em/1 "Courier New", Courier, monospace; background: #f5f5f5; }
pre { border: 1px dashed #ccc; line-height: 1.7em; padding: 1em; font-size: .9em; background: #f5f5f5; overflow: auto;  }


.redactor_video_box {
	width: 120px;
	height: 120px;
	background: url(../i/video_box.png) center no-repeat #ffffcc !important;	
	margin: 5px;
}
.redactor_video_box object, .redactor_video_box embed{
	display: none;
}

h1, h2, h3, h4,h5 {
	font-weight: normal;
	margin: 0;
	padding: 0px;
}

h1 {
	font-size: 30px;
	margin-bottom: 12px;
}
h2 {
	font-size: 26px;
	margin-bottom: 10px;
}
h3 {
	font-size: 20px;
	margin-bottom: 8px;
}
h4 {
	font-size: 12px;
	font-weight: bolder;
}
