
/* =Reset
-----------------------------------------------------------------------------*/
html, body, div, span, a, img,
h1, h2, h3, h4, h5, h6, hgroup, p,
dl, dialog, dt, dd, ol, ul, li, 
abbr, acronym, address, b, big, blockquote, 
cite, code, del, dfn, em, i, ins, kbd, pre, q, 
samp, tt, var, small, strong, sub, sup, 
object, iframe, form, fieldset, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, nav, section,
figure, menu, time, mark, audio, video { font-family: inherit; font-size: 100%; font-weight: inherit; font-style: inherit; vertical-align: baseline; white-space: normal; text-align: left; margin: 0; padding: 0; border: 0; outline: 0; background: transparent; }
textarea { font-family: inherit; font-size: 100%; font-weight: normal; font-style: normal; white-space: normal; text-align: left; margin: 0; padding: 0; }

article, aside, footer, header, nav, section,
dialog, figure, hgroup, menu { display: block; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
del, ins { text-decoration: none; }
ol, ul { list-style: none; }
nav ul { list-style-type: none; }
table { border-collapse: separate; border-spacing: 0; background-color: transparent; width: auto; height: auto; }

input { margin: 0; }
textarea { overflow: auto;}



body {
	font-family: "Trebuchet MS", Verdana, Arial, Tahoma, sans-serif;      
	font-size: 90%;
	margin: 0;
	padding: 10px 0;	
}

strong, b { font-weight: bold; }
em,dfn, i     { font-style: italic; }
sup, sub {  vertical-align: baseline; position: relative; }
sup { top: -0.4em; }
sub { bottom: -0.3em; }

blockquote {
	padding-left: 10px;
	padding-right: 5px;
	border-left: 3px solid #ddd;
	margin-bottom: 1.5em;
}
div {
	line-height: 1.3em;
	padding: 0 10px;
}
p {
	margin-bottom: 1.3em;
	line-height: 1.5em;
	padding: 0 10px;	
}
ul, ol {
	line-height: 1.5em;
	margin: 0 0 1.3em 0;
}
li {
	padding: 0 10px;
}
table {
	border-collapse: collapse;
	font-size: 1em;	
	margin: 0 10px;	
	margin-bottom: 1.3em;
}
table td {
	border: 1px solid #ddd;
	padding: 5px;
}
table thead td {
	border-bottom: 2px solid #000 !important;
	font-weight: bold;
}
code, pre { font: 1.2em/1 "Courier New", Courier, monospace; background: #f5f5f5;  padding: 1em; margin: 0 10px; margin-bottom: 1.3em; }
pre { border: 1px dashed #ccc; line-height: 1.7em; font-size: .9em; background: #f5f5f5; overflow: auto;  }


.img_left {
	float: left;
	margin-right: 10px; 
	margin-bottom: 10px;
}
.img_right {
	float: right;
	margin-left: 10px; 
	margin-bottom: 10px;
}

.editor_video_box {
	width: 300px;
	height: 200px;
	background: url(../i/video_box.png) center no-repeat #000 !important;	
	margin: 1.3em;
}
.editor_video_box object, .editor_video_box embed, .editor_video_box iframe {
	display: none;
}

.editor_file_link {
	padding-left: 20px;
}
.editor_file_ico_avi 	{ background: url(../i/fileicons/avi.png) no-repeat; }
.editor_file_ico_csv 	{ background: url(../i/fileicons/csv.png) no-repeat; }
.editor_file_ico_doc 	{ background: url(../i/fileicons/doc.png) no-repeat; }
.editor_file_ico_gif 	{ background: url(../i/fileicons/gif.png) no-repeat; }
.editor_file_ico_html 	{ background: url(../i/fileicons/html.png) no-repeat; }
.editor_file_ico_jpg 	{ background: url(../i/fileicons/jpg.png) no-repeat; }
.editor_file_ico_mov	{ background: url(../i/fileicons/mov.png) no-repeat; }
.editor_file_ico_other 	{ background: url(../i/fileicons/other.png) no-repeat; }
.editor_file_ico_pdf 	{ background: url(../i/fileicons/pdf.png) no-repeat; }
.editor_file_ico_png 	{ background: url(../i/fileicons/png.png) no-repeat; }
.editor_file_ico_ppt 	{ background: url(../i/fileicons/ppt.png) no-repeat; }
.editor_file_ico_rar 	{ background: url(../i/fileicons/rar.png) no-repeat; }
.editor_file_ico_rtf 	{ background: url(../i/fileicons/rtf.png) no-repeat; }
.editor_file_ico_txt 	{ background: url(../i/fileicons/txt.png) no-repeat; }
.editor_file_ico_xls 	{ background: url(../i/fileicons/xls.png) no-repeat; }
.editor_file_ico_zip 	{ background: url(../i/fileicons/zip.png) no-repeat; }


h1, h2, h3, h4,h5 {
	font-weight: normal;
	margin: 0;
	padding: 0 10px;
}

h1 {
	font-size: 30px;
	margin-bottom: 12px;
}
h2 {
	font-size: 24px;
	margin-bottom: 10px;
}
h3 {
	font-size: 18px;
	margin-bottom: 8px;
}
h4 {
	font-size: 12px;
	font-weight: bolder;
}
